/app/Config/identifier.php
/app/tmp
/lib/Cake/Console/Templates/skel/tmp/
/plugins
/vendors
/build
/dist
.DS_Store
/tags
/app/webroot/store/
.buildpath
.settings
.project
# Ignore the files from our css/js compressor
/app/webroot/css/cache*
/app/webroot/js/cache*

# Ignore the root-level /tmp/ folder in this project. It's for holding temporary junk.
/tmp
