RewriteEngine on

# If we have a request for our image script
RewriteRule ^gen/(.+)/(\d+)/(\d+)x(\d+)/?(.*)$ gen/index.php?type=$1&id=$2&width=$3&height=$4&image=$5 [L]

# Redirect www.unlokt.com to unlokt.com
RewriteCond %{HTTP_HOST} ^www\.unlokt\.com$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [L]

RewriteRule ^$ app/webroot/ [L]
RewriteRule (.*) app/webroot/$1 [L]