// Deals.less
// ------------------------------
.deal {
	.deal-meta {
		padding: @gridGutter/2 0;
		border-top: 1px solid #555;
		border-bottom: 1px solid #555;
		width: 70%;
		.deal-type {
			color: @grayLight;
			margin: 0;

			i {
				color: @white;
			}
		}

	}

	.page-header {
		padding-bottom: 10px;
		border-bottom: 1px solid #555;

		h1, h3, p {
			color: @white;
		}
	}

	.photo {
		height: 200px;
		margin-right: @gridGutter;
		width: 200px;
		.pull-left;
	}

	.redeem {
		overflow: hidden;
		margin-top: @gridGutter/2;

		.onekey {
			.btn-red {
				margin: 5px 10px;
			}
		}
	}

	.redeem-activity {
		.clearfix
	}

	.redemption {
		background: #fafafa;
		.border-radius(3px);
		border: 1px solid #eee;
		padding: 5px;
		margin-top: 10px;
		.clearfix;
	}

	.content-group {
		background-color: #262A30;
		border: 1px solid #000;
		color: @white;
		margin-bottom: @gridGutter/2;
		padding: 5px;

		.lead {
			color: @grayLight;
		}

	}

	.spot {
		margin-bottom: 5px;
	}
}
.redeem-code {
	display: inline-block;
	margin-top: 5px;
	padding: 3px 7px;
	border: 1px solid @btnDefaultBorderColor;
	cursor: pointer;
	color: @schemeGrayDark;
	font-size: 11px;
	font-weight: bold;
	line-height: 1.5;
	text-align: center;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	vertical-align: top;
	#gradient > .vertical(lighten(@btnDefaultBackground, 20%), @btnDefaultBackground);
	.border-radius(@borderRadius);
	.box-shadow(inset 0 1px 0 rgba(255, 255, 255, 0.5));
	.box-sizing(border-box);
	.ie7-inline-block();
	border: 1px solid @btnYellowBorderColor;
	#gradient > .vertical(lighten(@btnYellowBackground, 18%), @btnYellowBackground);
	.btn-jumbo;
	
	code {
		font-size:18px;
	}
}

#homepagedeal {
	#staggered {
		width: 567px;
	}
}

.ui-datepicker {
	background-color: @white;
	border: 1px solid @grayLight;
	.box-shadow(0px 0px 3px 0px @gray);
	padding: 5px;

	.ui-datepicker-next {
		float: right;
	}
}

