// Images.less
// ------------------------------
h1.logo {
	display: inline-block;
	width: 205px;
	height: 63px;
	margin: 0;
	padding: 0;
	text-indent: -9999px;
	background: transparent url('@{assetPath}img/main-logo1.png') 0 0 no-repeat;
	.ie7-inline-block();
}

.profile-image {
	margin-right: @gridGutter;
}