// Main-content.less
// ------------------------------
.main-content {
	position: relative;
	padding: @gridGutter 0 (@gridGutter*2);
	margin-bottom: @gridGutter*2;
	z-index: 2;
	&.page {
		background: @grayLighter;

		&.spot {
			background: #262A30;
			color: #fff;

			h1 {
				color: #fff;
			}

			table.zebra {
				
				tr {
					background: none;
					border: none;

					&:nth-child(2n+1) td {
						background: none;
						border: none;
						// border-bottom: 1px solid @black;
						// border-top: 1px solid @black;
					}
				}

				td.actions {
					a {
						color: #1a1b20;
					}
				}

				a {
					color: #90cdcf;
				}
			}
			ul {
				background: #262A30;
			}

			li {
				border: none;
				padding: 10px;
				.box-sizing(border-box);
			}
		}
	}
	&.page-new {
		#gradient > .vertical(darken(@schemeGray, 4%), darken(@schemeGray, 8%));
		background: lighten(@schemeGrayDark, 2%);
		h4 {
			color: @gray;

			i {
				color: @white;
			}
		}

		&.public {
			color: @white;

			h1,
			h2,
			h3,
			h4,
			h5,
			h6 {
				color: @white;
			}
		}
	}
}

.page-header {
	margin-bottom: @gridGutter;
	.clearfix;
}

.showcase + .main-content {
	.box-shadow(0 -2px 290px rgba(0, 0, 0, 1));
	margin-bottom: 0;
}